## Jamie Marken
## Coding with Python
## GEOG 458

Task 1

This notebook works with data from the Yahtse Glacier project, run from 2009-2011. Throughout the notebook, practical skills in manipulating and characterizing seismic data is shown. This notebook is interesting to me because it represents dominant seismic frequencies of calving, characterizing background noise, and detection of calving icequakes with bargraphs, scatterplots, and spectograms.

[Identifying and Characterizing Calving and Hydrology Seismicity at Yahtse Glacier](http://vm-141-40-254-17.cloud.mwn.de:8000/user/L8PYKexTijD7/notebooks/Glacial%20Seismology/hydro_and_calving-complete.ipynb)

Task 2

1.

A)
[Pillow](https://github.com/python-pillow/Pillow)
Pillow is a Python Imaging Library that adds support for opening, manipulating, and saving various image file formats.

[Pygame](http://www.pygame.org/wiki/about)
Pygame is a free and open source Python programming language library for making multimedia applications. 

[SQLAlchemy](https://www.sqlalchemy.org)
SQLAlchemy is used for efficient and high-performing database access. It gives application developers the full power and flexibility of SQL.

B) 
[Plotnine](https://github.com/has2k1/plotnine)
Plotnine serves a similar purpose as ggplot does for R.

C)
[pandas](https://pandas.pydata.org/)
pandas is a Python library for data analysis.

Task 3

1. A difference in general syntax between R and Python: Boolean true/false values are written in all caps in R (TRUE/FALSE), but Python uses first letter capitalization (True/False).

2. With data vizualization in Python, there is usually one main way to do it. While in R, there are at least a half dozen packages to make pair plots, for example. 

3. R has more built-in data analysis, while Python relies mostly on packages.

In [42]:
##Task4

a = "I"

b = "am"

c = "a"

d = "Penguin"


print a + " " + b + " " + c + " " + d

Task 4
I am a Penguin

In [47]:
##Task5

number = "40"


print a + " " + b + " " + c + " " + number + " " + d

Task 5
I am a 40 Penguin

In [77]:
##Task6

mystring = a + " " + b + " " + c + " " + number + " " + d

mystring.count('a')

#counting how many letter a's there are in the string

Task 6

2

In [75]:
mystring.find("Penguin")

#finding the left-most index where the string is found

10

In [78]:
##Task7

first_half = len(a + " " + b + " " + c + " " + number + " " + d)
print(first_half)

#Printed the first half of my sentence string

Task 7
17

In [91]:
##Task8

mystring.replace("40","")

Task 8

'I am a  Penguin'

In [94]:
mystring.replace("Penguin","Panda")

'I am a 40 Panda'

In [101]:
##Task9

a = "I"

b = "am"

c = "a"

d = "Penguin"

e = "big"

mystring = a + " " + b + " " + c + " " + e + " " + number + " " + d

x = mystring.split()

print(x)

#Used "split" to call individual words back into the list 
#Added the word "big" into the middle of the list of individual words

Task 9
['I', 'am', 'a', 'big', '40', 'Penguin']

In [15]:
##Task10

import random

x = random.randint(1,100)

print(x)

if x <= 25:
    print("1st Quartile")
elif 25 < x <=50:
    print("2nd Quartile")
elif 50 < x <=75:
    print("3rd Quartile")
elif 75 < x <=100:
    print("4th Quartile")

Task 10
15
1st Quartile

In [162]:
##Task11

mylist = ["Nashua", "Austin", "Denver", "Boston", "Helena", "Houston"]

for CITY in mylist:
    print "warning residents of" + " " + CITY + " " + "temperatures will reach sub-zero temperatures today, please stay indoors if possible"

Task 11
warning residents of Nashua temperatures will reach sub-zero temperatures today, please stay indoors if possible
warning residents of Austin temperatures will reach sub-zero temperatures today, please stay indoors if possible
warning residents of Denver temperatures will reach sub-zero temperatures today, please stay indoors if possible
warning residents of Boston temperatures will reach sub-zero temperatures today, please stay indoors if possible
warning residents of Helena temperatures will reach sub-zero temperatures today, please stay indoors if possible
warning residents of Houston temperatures will reach sub-zero temperatures today, please stay indoors if possible

In [165]:
##Task12

list = []

walist = ["Washington"]

for Washington in walist:
    print "U://Users/Zhang/Geog_458/" + Washington + ".shp"

Task 12
U://Users/Zhang/Geog_458/Washington.shp

In [166]:
list = []

calist = ["California"]

for California in calist:
    print "U://Users/Zhang/Geog_458/" + California + ".shp"

U://Users/Zhang/Geog_458/California.shp

In [167]:
list = []

nvlist = ["Nevada"]

for Nevada in nvlist:
    print "U://Users/Zhang/Geog_458/" + Nevada + ".shp"

U://Users/Zhang/Geog_458/Nevada.shp

In [168]:
list = []

idlist = ["Idaho"]

for Idaho in idlist:
    print "U://Users/Zhang/Geog_458/" + Idaho + ".shp"

U://Users/Zhang/Geog_458/Idaho.shp

In [9]:
list = []

mtlist = ["Montana"]

for Montana in mtlist:
    print "U://Users/Zhang/Geog_458/" + Montana + ".shp"

U://Users/Zhang/Geog_458/Montana.shp

In [10]:
list = []

utlist = ["Utah"]

for Utah in utlist:
    print "U://Users/Zhang/Geog_458/" + Utah + ".shp"

U://Users/Zhang/Geog_458/Utah.shp

In [11]:
list = []

colist = ["Colorado"]

for Colorado in colist:
    print "U://Users/Zhang/Geog_458/" + Colorado + ".shp"

U://Users/Zhang/Geog_458/Colorado.shp

In [12]:
list = []

nmlist = ["NewMexico"]

for NewMexico in nmlist:
    print "U://Users/Zhang/Geog_458/" + NewMexico + ".shp"

U://Users/Zhang/Geog_458/NewMexico.shp

In [9]:
##Task13

countdown = 10

while count:
    print ('T-minus', count)
    count -=1

 Task 13
('T-minus', 10)
('T-minus', 9)
('T-minus', 8)
('T-minus', 7)
('T-minus', 6)
('T-minus', 5)
('T-minus', 4)
('T-minus', 3)
('T-minus', 2)
('T-minus', 1)

In [11]:
##Task14
def countdown(count):
  while count:
    print ('T-minus', count)
    count -=1

In [14]:
##Task14
countdown(14)

Task 14
('T-minus', 14)
('T-minus', 13)
('T-minus', 12)
('T-minus', 11)
('T-minus', 10)
('T-minus', 9)
('T-minus', 8)
('T-minus', 7)
('T-minus', 6)
('T-minus', 5)
('T-minus', 4)
('T-minus', 3)
('T-minus', 2)
('T-minus', 1)

In [2]:
##Task15

def quartile_calc(x):
    if x <= 25:
        print("1st Quartile")
    elif 25 < x <=50:
        print("2nd Quartile")
    elif 50 < x <=75:
        print("3rd Quartile")
    elif 75 < x <=100:
        print("4th Quartile")

In [3]:
quartile_calc(40)

2nd Quartile

In [4]:
quartile_calc(101)

In [5]:
quartile_calc(77)

4th Quartile